body {
    background: #f8f9fa;
    font-family: 'Segoe UI', sans-serif;
}

/* Top Bar */
.top-bar {
    background: #dbde0c;
    color: #201e1e;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
}

/* Navbar */
.custom-nav {
    transition: 0.3s;
}

.nav-animate {
    position: relative;
    transition: 0.3s;
}

.nav-animate::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #ff6600;
    transition: 0.3s;
}

.nav-animate:hover::after {
    width: 100%;
}

.logo-text {
    letter-spacing: 1px;
}

/* Product Card */
.product-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    position: relative;
}

.product-card:hover {
    transform: translateY(-8px);
}

.product-img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    transition: 0.4s;
}

.product-card:hover .product-img {
    transform: scale(1.08);
}

/* Wishlist */
.wishlist {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    color: #999;
    font-size: 18px;
    transition: 0.3s;
}

.wishlist.active {
    color: red;
}

/* Info */
.product-info {
    padding: 15px;
}

.rating {
    color: #ffc107;
    font-size: 14px;
}

.price {
    font-weight: bold;
    margin: 5px 0;
}

.price span {
    text-decoration: line-through;
    color: #888;
    font-size: 14px;
    margin-left: 5px;
}

/* Button */
.cart-btn {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 6px;
    background: #000;
    color: #fff;
    transition: 0.3s;
}

.cart-btn:hover {
    background: #ff6600;
}

/* Footer */
.footer {
    background: #000;
    padding: 25px;
    margin-top: 40px;
}

/* Footer Animation */
.footer-address {
    animation: slideUp 2s ease-in-out infinite alternate;
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-5px);
    }
}